.header {
  width: 100%;
  height: 140px;
  padding: 0 124px;
  background-color: $blackrgba;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    span {
      height: 140px;
      width: 84px;
      display: flex;
      justify-content: center;
      padding-top: 92px;
      font-style: italic;
      font-size: 18px;
    }
    span:hover {
      transition: background-color 400ms ease-out;
      background: rgb(189 176 121);
    }
    .active {
      background: rgb(189 176 121 / 52%);
    }
  }
  a {
    color: white;
  }
  &__logo {
    height: 140px;
    padding: 10px;
  }
  & > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    & > div {
      border: 4px solid #dad8ca;
      color: #dad8ca;
      border-radius: 50%;
      width: 80px;
      aspect-ratio: 1;
      display: flex;
      align-content: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      margin-top: 32px;
    }
  }
}
