.header {
  width: 100%;
  height: 140px;
  padding: 0 124px;
  background-color: $blackrgba;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    span {
      height: 140px;
      width: 100px;
      display: flex;
      justify-content: center;
      padding-top: 92px;
      font-style: italic;
      font-size: 18px;
    }
    span:hover {
      transition: background-color 400ms ease-out;
      background: rgb(189 176 121);
    }
    .active {
      background: rgb(189 176 121 / 52%);
    }
  }
  a {
    color: white;
  }
  &__logo {
    height: 140px;
    padding: 10px;
  }
  &__right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    button {
      margin-top: 72px;
    }
  }

  @media (max-width: 480px) {
    height: 68px;
    padding: 0 10px;
    &__logo {
      height: 58px;
      padding: 0;
    }
    &__right-section {
      display: none !important;
    }
    .burger-menu {
      display: flex;
    }
  }
}
