.burger-menu {
  position: relative;
  padding: 10px;
  display: none;
  width: 60px;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  & > div {
    border: 1px solid white;
  }
  &:focus {
    & + .burger-menu__options {
      display: flex !important;
    }
  }
  &__options {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: rgba(white, 0.9);
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0;
    display: none;
    flex-direction: column;
    gap: 18px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    a {
      color: black !important;
    }
    &:hover {
      display: flex !important;
    }
  }
  @media (max-width: 480px) {
    display: flex;
  }
}
